{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modelo.css' %}">

<div class="container_form">
    {% block animation %}
    <nav>
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'cadastrar_produto' %}">Produtos</a>
        <a href="{% url 'cadastrar_vendas' %}">Vendas</a>
        <a href="{% url 'cadastrar_funcionario' %}">Funcionários</a>
        <a href="{% url 'relatorios' %}">Relatórios</a>
        <div class="animation start-home"></div>
    </nav>
    {% endblock animation %}

  <h1>CADASTRO DE FUNCIONARIOS</h1>

  <form class="form" action="{% url 'cad_funcionarios' %}" method="POST">
    {% csrf_token %} 
      <div class="row">
      <div class="form_grupo">
          <label for="nome" class="form_label">Nome</label>
          <input type="text" name="nome" class="form_input" id="nome" placeholder="Digite seu nome" autofocus="true" required>
      </div>
      
      <div class="form_grupo">
        <label for="CPF">CPF</label>
        <input type="text" name="cpf" placeholder="Digite seu CPF" maxLength="11" requirid />
      </div>

      <div class="form_grupo">
        <label for="RG">RG</label>
        <input type="text" name="rg" placeholder="Digite seu RG" />
      </div>
    </div>
      <div class="form_grupo">
        <label for="dtnasc">Data Nascimento</label>
        <input type="text" name="dtnasc_func" placeholder="Digite sua Data de Nascimento" />
      </div>

      <div class="form_grupo">
        <label for="Contato">Contato</label>
        <input type="text" name="contato" placeholder="Digite o número de celular" />
      </div>

      <div class="form_grupo">
          <label for="e-mail" class="form_label">Email</label>
          <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
      </div>

      <div class="form_grupo">
          <label for="estadocivil" class="text">Estado civil</label>
          <select name="estadocivil" class="dropdown" required>
              
              <option selected disabled class="form_select_option" value="">Selecione</option>
              <option value="Solteiro" class="form_select_option">Solteiro(a)</option>
              <option value="Casado" class="form_select_option">Casado(a) </option>
              <option value="Divorciado" class="form_select_option">Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option">Viúvo(a)</option>                    
          
          </select>

        </div>

      <div class="form_grupo">

          <span class="legenda">Sexo:</span>
          
          <div class="radio-btn">
              <input type="radio" class="form_new_input" id="masculino" name="sexo" value="Masculino" required="required">
              <label for="masculino" class="radio_label form_label"> <span class="radio_new_btn"></span> Masculino</label>
          </div>

          <div class="radio-btn">
              <input type="radio" class="form_new_input" id="feminino" name="sexo" value="Feminino" required="required">
              <label for="feminino" class="radio_label form_label"> <span class="radio_new_btn"></span> Feminino</label>
          </div>

      </div>

      <div class="form_grupo">
        <label for="estado" class="text">Estado</label>
        <select name="estado" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
        </select>
      </div>
      
      <div class="form_grupo">
        <label for="cidade" class="text">Cidade</label>
        <select name="cidade" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
        </select>
      </div>
      
      <script>
        const cidadesPorEstado = {
            acre: ["Rio Branco", "Cruzeiro do Sul", "Sena Madureira"],
            alagoas: ["Maceió", "Arapiraca", "Palmeira dos Índios"],
            amapa: ["Macapá", "Santana", "Laranjal do Jari"],
            amazonas: ["Manaus", "Parintins", "Itacoatiara"],
            bahia: ["Salvador", "Feira de Santana", "Vitória da Conquista"],
            ceara: ["Fortaleza", "Juazeiro do Norte", "Caucaia"],
            "distrito-federal": ["Brasília"],
            "espirito-santo": ["Vitória", "Vila Velha", "Cariacica"],
            goias: ["Goiânia", "Aparecida de Goiânia", "Anápolis"],
            maranhao: ["São Luís", "Imperatriz", "Timon"],
            "mato-grosso": ["Cuiabá", "Várzea Grande", "Rondonópolis"],
            "mato-grosso-do-sul": ["Campo Grande", "Dourados", "Três Lagoas"],
            "minas-gerais": ["Belo Horizonte", "Uberlândia", "Contagem"],
            para: ["Belém", "Ananindeua", "Santarém"],
            paraiba: ["João Pessoa", "Campina Grande", "Santa Rita"],
            parana: ["Curitiba", "Londrina", "Maringá"],
            pernambuco: ["Recife", "Jaboatão dos Guararapes", "Olinda"],
            piaui: ["Teresina", "Parnaíba", "Picos"],
            "rio-de-janeiro": ["Rio de Janeiro", "São Gonçalo", "Duque de Caxias"],
            "rio-grande-do-norte": ["Natal", "Mossoró", "Parnamirim"],
            "rio-grande-do-sul": ["Porto Alegre", "Caxias do Sul", "Pelotas"],
            rondonia: ["Porto Velho", "Ji-Paraná", "Ariquemes"],
            roraima: ["Boa Vista", "Rorainópolis", "Caracaraí"],
            "santa-catarina": ["Florianópolis", "Joinville", "Blumenau"],
            "sao-paulo": ["São Paulo", "Guarulhos", "Campinas"],
            sergipe: ["Aracaju", "Nossa Senhora do Socorro", "Lagarto"],
            tocantins: ["Palmas", "Araguaína", "Gurupi"]
          };
          
      
        const selectEstado = document.querySelector('select[name="estado"]');
        const selectCidade = document.querySelector('select[name="cidade"]');
      
        selectEstado.addEventListener('change', function() {
          const estadoSelecionado = this.value;
          
          // Limpa as opções do dropdown de cidades
          selectCidade.innerHTML = '<option selected disabled class="form_select_option" value="">Selecione</option>';
          
          // Verifica se um estado foi selecionado
          if (estadoSelecionado) {
            const cidades = cidadesPorEstado[estadoSelecionado];
            
            // Adiciona as opções de cidades no dropdown correspondente
            cidades.forEach((cidade) => {
              const optionElement = document.createElement('option');
              optionElement.textContent = cidade;
              optionElement.value = cidade;
              selectCidade.appendChild(optionElement);
            });
          }
        });
      </script>
      
      
      <div class="form_grupo">
        <label for="Rua">Rua</label>
        <input type="text" name="rua" placeholder="Digite o nome da sua rua" />
      </div>

      <div class="form_grupo">
        <label for="Bairro">Bairro</label>
        <input type="text" name="bairro" placeholder="Digite o nome do seu bairro" />
      </div>

      <div class="form_grupo">
        <label for="Numero">Numero</label>
        <input type="text" name="numero_casa" placeholder="Digite o numero da sua casa" />        
      </div>


      <div class="form_grupo">

          <span class="legenda">Setor</span>

          <div class="check-btn">
              <input type="checkbox" class="form_new_input" id="html5" name="aprender" value="html5">
              <label for="html5" class="form_label check_label"> <span class="check_new_btn"></span>Vendas</label>
          </div>

          <div class="check-btn">
              <input type="checkbox" class="form_new_input" id="css3" name="aprender" value="css3">
              <label for="css3" class="form_label check_label"><span class="check_new_btn"></span>Entrega</label>
          </div>

          <div class="check-btn">
              <input type="checkbox" class="form_new_input" id="jquery" name="aprender" value="jquery">
              <label for="jquery" class="form_label check_label"><span class="check_new_btn"></span>Financeiro</label>
          </div>

          <div class="check-btn">
              <input type="checkbox" class="form_new_input" id="wordpress" name="aprender" value="wordpress">
              <label for="wordpress" class="form_label check_label"><span class="check_new_btn"></span>Cobrador</label>
          </div>
          

          <div class="form_message">
              
              <label for="message" class="form_message_label"> Digite aqui sua observação:</label>
              <textarea name="mensagem" id="message" cols="30" rows="3" class="form_input message_input" required></textarea>

          </div>

          <div class="submit">

            <input type="hidden" name="acao" value="enviar">
            <button type="submit" name="Submit" class="submit_btn" >Cadastrar</button>
          
          </div>
</div><!--container_form-->
<footer class="f">
    Rodapé da página
</footer>