{% extends '../home/home.html'%}
{% load static %}


{%block title%}
Cadastro de Funcionários
{%endblock%}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadfuncionario.css' %}">
<div class="cadfuncionario">


 <center><h1 class="title">CADASTRO DE FUNCIONARIOS</h1></center> 
 {% if form.errors %}
 <div class="alert alert-danger">
 {% for field in form %}
     {% for error in field.errors %}
        
             <strong>{{ error|escape }}</strong>
             <p></p>
        
     {% endfor %}
 {% endfor %}
</div>
<div class="alert alert-danger"></div>
 {% for error in form.non_field_errors %}
     
         <strong>{{ error|escape }}</strong>
    
 {% endfor %}
</div>
{% endif %}

{%if mensagem%}
<div class="alert alert-danger">
  <strong>{{mensagem}}</strong>
</div>
{%endif%}

<p></p>
  <form class="form" action="{% url 'cad_funcionarios' %}" method="POST">
    {% csrf_token %} 
      <div class="container-form">
      <div class="coluna">
      <div class="form_grupo">
          <label for="nome" class="form_label">Nome</label>
          {%if form.errors or mensagem%}
          {{form.nome}}
          {%else%}
          <input type="text" name="nome" class="form_input" id="nome" placeholder="Nome do Funcionário" autofocus="true" required>
          {%endif%}
         
               
      </div>
      
      <div class="form_grupo">
        <label for="CPF">CPF</label>
        {%if  form.errors or mensagem%}
        {{form.cpf}}
        {% else %}
        <input type="text" name="cpf" placeholder="CPF do Funcionário" maxLength="14" required id="cpf" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="RG">RG</label>
        {%if form.errors%}
        {{form.rg}}
        {%elif mensagem%}
        {{form.rg}}
        {%else%}
        <input type="text" name="rg" id="rg" placeholder="RG do Funcionário" />
        {%endif%}
      </div>
      <div class="form_grupo">
        <label for="dtnasc">Data Nascimento</label>
        {% if  form.errors%}
        {{form.dtnasc_func}}
        {%elif mensagem%}
        {{form.dtnasc_func}}
        {%else%}
        <input type="text" name="dtnasc_func" id="dtnasc_func" maxlength="10" placeholder="Data de Nascimento do Funcionário" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Contato">Contato</label>
        {% if form.errors%}
        {{form.contato}}
        {%elif mensagem%}
        {{form.contato}}
        {% else %}
        <input type="text" name="contato" placeholder="Telefone do funcionário" />
        {%endif%}
      </div>

      <div class="form_grupo">
          <label for="e-mail" class="form_label">Email</label>
          {%if form.errors%}
          {{form.email}}
          {%elif mensagem%}
          {{form.email}}
          {%else%}
          <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
          {%endif%}
      </div>

      <div class="form_grupo">
          <label for="estadocivil" class="text">Estado civil</label>
          {%if form.errors%}
           {{form.estadocivil}}
          {%elif mensagem%}
            {{form.estadocivil}}
          {%else%}
            <select name="estadocivil" class="dropdown" id="estadocivil" required>
              
              <option selected disabled class="form_select_option" value="" >Selecione</option>
              <option value="Solteiro" class="form_select_option" id="solteiro">Solteiro(a)</option>
              <option value="Casado" class="form_select_option" id="casado">Casado(a) </option>
              <option value="Divorciado" class="form_select_option" id="divorciado">Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option" id="viuvo">Viúvo(a)</option>                    
          
          </select>
          {%endif%}
        </div>
        <strong>{{form.sexo.value}}</strong>
        <div class="form_grupo">

          <span class="legenda">Sexo:</span>
          {% comment "Se tiver algum erro de validação ou erro de valor duplicado" %}{% endcomment %}
          {% if form.errors or mensagem%}
        
    {% comment "Se o valor selecionado pelo usuario" %}{% endcomment %}
            {% if form.sexo.value == 'Masculino' %}
            <table>
              {% for choice in form.sexo.field.choices %}
                <tr>
                  {% comment "checa se o valor se o valor é masculino para criar o input radio" %}{% endcomment %}
                  <td>{{ choice.0 }}</td>
                  <td>
                  {% if choice.0 == 'Masculino' %}
                    <input checked type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
                  {% else %}
                    <input type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
                  {% endif %}
                  </td>
              </tr>
            {% endfor %}
            </table>
            {% elif form.sexo.value == 'Feminino'%}
            {% for choice in form.sexo.field.choices %}
            <table>
            <tr>
              <td>{{ choice.0 }}</td>
              <td>
              {% if choice.0 == 'Masculino' %}
                <input  type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
              {% else %}
                <input checked type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
              {% endif %}
              </td>
            </tr>
            </table>
          {% endfor %}
            {% endif %}
         </table>
          {%else%}
          <table>
          <tr>
            <td>  
              <label for="masculino" class="radio_label form_label"> <span class="radio_new_btn"></span> Masculino</label>
             
            </td>
            <td>
              <input type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
            </td>
          </tr>
          <tr>
            <td>
              <label for="feminino" class="radio_label form_label"> <span class="radio_new_btn"></span> Feminino</label>
            </td>
            <td>
              <input type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
            </td>
          </tr>

              
              
         
        </table>
          {%endif%}

      </div>

      <div class="form_grupo">
        <label for="estado" class="text">Estado</label>
        <select name="estado" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
        </select>
        <div class="form_grupo">
        <label for="cidade" class="text">Cidade</label>
        <select name="cidade" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
        </select>
     
       </div>
      </div>
      </div>

    
      <div>
      
      
    
      
      
      
      
      <div class="form_grupo">
        <label for="Rua">Rua</label>
        {% if form.errors%}
        {{form.rua}}
        {%elif mensagem%}
        {{form.rua}}
        {% else %}
        <input type="text" name="rua" placeholder="Rua em que o Funcionário mora"/>
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Bairro">Bairro</label>
        {% if form.errors %}
        {{form.bairro}}
        {%elif mensagem%}
        {{form.bairro}}
        {%else%}
        <input type="text" name="bairro" placeholder="Bairro em que reside" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Numero">Numero</label>
        {%if  form.errors %}
        {{form.numero_casa}}
        {%elif mensagem%}
        {{form.numero_casa}}
        {% else %}
        <input type="number" name="numero_casa" placeholder="Número da Casa" />  
        {%endif%}      
      </div>


      <div class="form_grupo setor-container">

          <span class="legenda">Setor</span>
          {% if  form.errors %}
          {{form.setor}}
          {%elif mensagem%}
          {{form.setor}}
          {% else %}
         

        <div>
              <label for="html5" class="form_label check_label"> <span class="check_new_btn"></span>Vendas</label>
              <input type="radio" class="radio-setor" id="html5" name="setor" value="Vendas">
        </div>
        <div>
              <label for="css3" class="form_label check_label"><span class="check_new_btn"></span>Entrega</label>
              <input type="radio" class="radio-setor" id="css3" name="setor" value="Entrega">
        </div>
        <div>   
              <label for="jquery" class="form_label check_label"><span class="check_new_btn"></span>Financeiro</label>
              <input type="radio" class="radio-setor" id="jquery" name="setor" value="Financeiro">
        </div> 
        <div >
              <label for="wordpress" class="form_label check_label"><span class="check_new_btn"></span>Cobrador</label>
              <input type="radio" class="radio-setor" id="wordpress" name="setor" value="Cobrador">
        </div>   
          {% endif %}
          
      </div>
          <div class="form_message">
              
              <label for="message" class="form_message_label"> Digite aqui sua observação:</label>
              <p></p>

              {% if  form.errors %}
              {{form.observacao}}
              {%elif mensagem%}
              {{form.observacao}}
              {% else %}
              <textarea name="observacao" id="message" cols="30" rows="3" class="form_input message_input" required></textarea>
              {%endif%}
            </div>
            {%if form.errors or mensagem%}
            <input  type="hidden" id="cidade" value="{{cidade}}">
            <input  type="hidden" id="estado" value="{{estado}}">
            {%endif%}
          
          <div class="submit">
            <button type="submit" id="cadastrar" name="Submit" class="submit_btn" >Cadastrar</button>
          </div>
          
        
      
        </form><!--container_form-->
      
    </div>
<footer class="f">
    Rodapé da página
</footer>

<script src="{% static 'js/cadastrofunc.js' %}">

  
</script>
{%endblock%}