{% extends '../home/home.html'%}
{% load static %}


{%block title%}
Cadastro de Funcionários
{%endblock%}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadfuncionario.css'%}">
<div class="cadfuncionario">


 <center><h1 class="title">CADASTRO DE FUNCIONARIOS</h1></center> 
 {% if form.errors %}
 <div class="alert alert-danger">
 {% for field in form %}
     {% for error in field.errors %}
        
             <strong>{{ error|escape }}</strong>
             <p></p>
        
     {% endfor %}
 {% endfor %}
</div>
<div class="alert alert-danger"></div>
 {% for error in form.non_field_errors %}
     
         <strong>{{ error|escape }}</strong>
    
 {% endfor %}
</div>
{% endif %}

{%if mensagem%}
<div class="alert alert-danger">
  <strong>{{mensagem}}</strong>
</div>
{%endif%}

<p></p>
  <form class="form" action="{% url 'cad_funcionarios' %}" method="POST">
    {% csrf_token %} 
      <div class="container-form">
      <div class="coluna">
      <div class="form_grupo">
          <label for="nome" class="form_label">Nome</label>
          {%if form.errors or mensagem%}
          {{form.nome}}
          {%else%}
          <input type="text" name="nome" class="form_input" id="nome" placeholder="Nome do Funcionário" autofocus="true" required>
          {%endif%}
         
               
      </div>
      
      <div class="form_grupo">
        <label for="CPF">CPF</label>
        {%if  form.errors or mensagem%}
        {{form.cpf}}
        {% else %}
        <input type="text" name="cpf" placeholder="CPF do Funcionário" maxLength="14" required id="cpf" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="RG">RG</label>
        {%if form.errors%}
        {{form.rg}}
        {%elif mensagem%}
        {{form.rg}}
        {%else%}
        <input type="text" name="rg" placeholder="RG do Funcionário" />
        {%endif%}
      </div>
      <div class="form_grupo">
        <label for="dtnasc">Data Nascimento</label>
        {% if  form.errors%}
        {{form.dtnasc_func}}
        {%elif mensagem%}
        {{form.dtnasc_func}}
        {%else%}
        <input type="text" name="dtnasc_func" id="dtnasc_func" maxlength="10" placeholder="Data de Nascimento do Funcionário" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Contato">Contato</label>
        {% if form.errors%}
        {{form.contato}}
        {%elif mensagem%}
        {{form.contato}}
        {% else %}
        <input type="text" name="contato" placeholder="Telefone do funcionário" />
        {%endif%}
      </div>

      <div class="form_grupo">
          <label for="e-mail" class="form_label">Email</label>
          {%if form.errors%}
          {{form.email}}
          {%elif mensagem%}
          {{form.email}}
          {%else%}
          <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" required>
          {%endif%}
      </div>

      <div class="form_grupo">
          <label for="estadocivil" class="text">Estado civil</label>
          {%if form.errors%}
           {{form.estadocivil}}
          {%elif mensagem%}
            {{form.estadocivil}}
          {%else%}
            <select name="estadocivil" class="dropdown" id="estadocivil" required>
              
              <option selected disabled class="form_select_option" value="" >Selecione</option>
              <option value="Solteiro" class="form_select_option" id="solteiro">Solteiro(a)</option>
              <option value="Casado" class="form_select_option" id="casado">Casado(a) </option>
              <option value="Divorciado" class="form_select_option" id="divorciado">Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option" id="viuvo">Viúvo(a)</option>                    
          
          </select>
          {%endif%}
        </div>
        <div class="form_grupo">

          <span class="legenda">Sexo:</span>
          {% if form.errors%}
            {{form.sexo}}
          {%elif mensagem%}
            {{form.sexo}}
          {%else%}
          <div class="radio-btn">
              <input type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
              <label for="masculino" class="radio_label form_label"> <span class="radio_new_btn"></span> Masculino</label>
          </div>

          <div class="radio-btn">
              <input type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
              <label for="feminino" class="radio_label form_label"> <span class="radio_new_btn"></span> Feminino</label>
          </div>
          {%endif%}

      </div>

      <div class="form_grupo">
        <label for="estado" class="text">Estado</label>
        <select name="estado" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
        </select>
        <div class="form_grupo">
        <label for="cidade" class="text">Cidade</label>
        <select name="cidade" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
        </select>
     
       </div>
      </div>
      </div>

    
      <div>
      
      
    
      
      
      
      
      <div class="form_grupo">
        <label for="Rua">Rua</label>
        {% if form.errors%}
        {{form.rua}}
        {%elif mensagem%}
        {{form.rua}}
        {% else %}
        <input type="text" name="rua" placeholder="Rua em que o Funcionário mora"/>
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Bairro">Bairro</label>
        {% if form.errors %}
        {{form.bairro}}
        {%elif mensagem%}
        {{form.bairro}}
        {%else%}
        <input type="text" name="bairro" placeholder="Bairro em que reside" />
        {%endif%}
      </div>

      <div class="form_grupo">
        <label for="Numero">Numero</label>
        {%if  form.errors %}
        {{form.numero_casa}}
        {%elif mensagem%}
        {{form.numero_casa}}
        {% else %}
        <input type="number" name="numero_casa" placeholder="Número da Casa" />  
        {%endif%}      
      </div>


      <div class="form_grupo">

          <span class="legenda">Setor</span>
          {% if  form.errors %}
          {{form.setor}}
          {%elif mensagem%}
          {{form.setor}}
          {% else %}
          <div class="check-btn">
            <input type="radio" class="form_input" id="html5" name="setor" value="Vendas">
            <label for="html5" class="form_label check_label"> <span class="check_new_btn"></span>Vendas</label>
          </div>

          <div class="check-btn">
            <input type="radio" class="form_input" id="css3" name="setor" value="Entrega">
            <label for="css3" class="form_label check_label"><span class="check_new_btn"></span>Entrega</label>
          </div>

          <div class="check-btn">
            <input type="radio" class="form_input" id="jquery" name="setor" value="Financeiro">
            <label for="jquery" class="form_label check_label"><span class="check_new_btn"></span>Financeiro</label>
          </div>

          <div class="check-btn">
            <input type="radio" class="form_input" id="wordpress" name="setor" value="Cobrador">
            <label for="wordpress" class="form_label check_label"><span class="check_new_btn"></span>Cobrador</label>
          </div>
            {% endif %}
          <div class="form_message">
              
              <label for="message" class="form_message_label"> Digite aqui sua observação:</label>
              <p></p>

              {% if  form.errors %}
              {{form.observacao}}
              {%elif mensagem%}
              {{form.observacao}}
              {% else %}
              <textarea name="observacao" id="message" cols="30" rows="3" class="form_input message_input" required></textarea>
              {%endif%}
            </div>
            {%if form.errors or mensagem%}
            <input  type="hidden" id="cidade" value="{{cidade}}">
            <input  type="hidden" id="estado" value="{{estado}}">
            {%endif%}
          </div>
          <div class="submit">
            <button type="submit" id="cadastrar" name="Submit" class="submit_btn" >Cadastrar</button>
          </div>
          
        
      
        </form><!--container_form-->
      
    </div>
<footer class="f">
    Rodapé da página
</footer>

<script>
  
  const cidadesPorEstado = {
      acre: ["Rio Branco", "Cruzeiro do Sul", "Sena Madureira"],
      alagoas: ["Maceió", "Arapiraca", "Palmeira dos Índios"],
      amapa: ["Macapá", "Santana", "Laranjal do Jari"],
      amazonas: ["Manaus", "Parintins", "Itacoatiara"],
      bahia: ["Salvador", "Feira de Santana", "Vitória da Conquista"],
      ceara: ["Fortaleza", "Juazeiro do Norte", "Caucaia"],
      "distrito-federal": ["Brasília"],
      "espirito-santo": ["Vitória", "Vila Velha", "Cariacica"],
      goias: ["Goiânia", "Aparecida de Goiânia", "Anápolis"],
      maranhao: ["São Luís", "Imperatriz", "Timon"],
      "mato-grosso": ["Cuiabá", "Várzea Grande", "Rondonópolis"],
      "mato-grosso-do-sul": ["Campo Grande", "Dourados", "Três Lagoas"],
      "minas-gerais": ["Belo Horizonte", "Uberlândia", "Contagem"],
      para: ["Belém", "Ananindeua", "Santarém"],
      paraiba: ["João Pessoa", "Campina Grande", "Santa Rita"],
      parana: ["Curitiba", "Londrina", "Maringá"],
      pernambuco: ["Recife", "Jaboatão dos Guararapes", "Olinda"],
      piaui: ["Teresina", "Parnaíba", "Picos"],
      "rio-de-janeiro": ["Rio de Janeiro", "São Gonçalo", "Duque de Caxias"],
      "rio-grande-do-norte": ["Natal", "Mossoró", "Parnamirim"],
      "rio-grande-do-sul": ["Porto Alegre", "Caxias do Sul", "Pelotas"],
      rondonia: ["Porto Velho", "Ji-Paraná", "Ariquemes"],
      roraima: ["Boa Vista", "Rorainópolis", "Caracaraí"],
      "santa-catarina": ["Florianópolis", "Joinville", "Blumenau"],
      "sao-paulo": ["São Paulo", "Guarulhos", "Campinas"],
      sergipe: ["Aracaju", "Nossa Senhora do Socorro", "Lagarto"],
      tocantins: ["Palmas", "Araguaína", "Gurupi"]
    };
    

  const selectEstado = document.querySelector('select[name="estado"]');
  const selectCidade = document.querySelector('select[name="cidade"]');

  selectEstado.addEventListener('change', function() {
    const estadoSelecionado = this.value;
    
    // Limpa as opções do dropdown de cidades
    selectCidade.innerHTML = '<option selected disabled class="form_select_option" value="">Selecione</option>';
    
    // Verifica se um estado foi selecionado
    if (estadoSelecionado) {
      const cidades = cidadesPorEstado[estadoSelecionado];
      
      // Adiciona as opções de cidades no dropdown correspondente
      cidades.forEach((cidade) => {
        const optionElement = document.createElement('option');
        optionElement.textContent = cidade;
        optionElement.value = cidade;
        selectCidade.appendChild(optionElement);
      });
    }
  });

  
</script>
<script>

  //Função para validar CPF
  function validaCpf(cpf) {
    cpf = cpf.replace(/[^\d]+/g, '');
    if (cpf == '') return false;
    if (cpf.length != 11 ||
        cpf == "00000000000" ||
        cpf == "11111111111" ||
        cpf == "22222222222" ||
        cpf == "33333333333" ||
        cpf == "44444444444" ||
        cpf == "55555555555" ||
        cpf == "66666666666" ||
        cpf == "77777777777" ||
        cpf == "88888888888" ||
        cpf == "99999999999")
        return false;
    add = 0;
    for (i = 0; i < 9; i++)
        add += parseInt(cpf.charAt(i)) * (10 - i);
    rev = 11 - (add % 11);
    if (rev == 10 || rev == 11)
        rev = 0;
    if (rev != parseInt(cpf.charAt(9)))
        return false;
    add = 0;
    for (i = 0; i < 10; i++)
        add += parseInt(cpf.charAt(i)) * (11 - i);
    rev = 11 - (add % 11);
    if (rev == 10 || rev == 11)
        rev = 0;
    if (rev != parseInt(cpf.charAt(10)))
        return false;
    return true;
}
  let cpf             = document.getElementById('cpf')
  let botao_cadastrar   = document.getElementById('cadastrar');
  let form_cadastrar  = document.querySelector('.form')

  //Função para remover a mascara
  function removerMascaraCPF(cpf) {
  return String(cpf).replace(/\D/g, '');
}

//validando o cpf e removendo a máscara
  botao_cadastrar.addEventListener('click',()=>{
    event.preventDefault();
    if(validaCpf(cpf.value)){
      cpf.value = removerMascaraCPF(cpf.value)
      
      form_cadastrar.submit(); 
    }else{
      alert("CPF Inválido!")
    }
    
  })
  // Função para formatar a data de nascimento
  function formatarNascimento(input) {
  // Remove todos os caracteres que não sejam dígitos
  var valor = input.value.replace(/\D/g, '');

  // Verifica se o valor é uma data válida
  if (valor.length > 2) {
    // Insere a barra depois do dia
    valor = valor.replace(/^(\d{2})(\d)/, '$1/$2');
  }

  if (valor.length > 5) {
    // Insere a barra depois do mês
    valor = valor.replace(/^(\d{2})\/(\d{2})(\d)/, '$1/$2/$3');
  }

  // Atualiza o valor do campo de entrada
  if (input.value != null){
     input.value = valor;
  }
 
}
//Enquanto o usuário digitar ele formata a data
window.addEventListener("DOMContentLoaded", (event) => {
  let dataNascimento = document.getElementById('dtnasc_func')
  dataNascimento.addEventListener('input',()=>{
    formatarNascimento(dataNascimento)
})
});
//Formatar CPF
function formataCPF(input) {
  // Remove todos os caracteres que não sejam dígitos
  var valor = input.value.replace(/\D/g, '');

  // Adiciona os pontos de separação e o traço do CPF
  valor = valor.replace(/^(\d{3})(\d)/, '$1.$2');
  valor = valor.replace(/^(\d{3})\.(\d{3})(\d)/, '$1.$2.$3');
  valor = valor.replace(/^(\d{3})\.(\d{3})\.(\d{3})(\d{1,2})/, '$1.$2.$3-$4');

  // Atualiza o valor do campo de entrada
  input.value = valor;
}
//Enquanto o usuário digitar ele irá formatar o cpf
cpf.addEventListener('input', function() {
  formataCPF(this);
});


window.onload = (event)=>{
    let estado = document.getElementById('estado').value
    selectEstado.value  = estado
      const cidades = cidadesPorEstado[estado];
      let city = document.getElementById('cidade').value
      // Adiciona as opções de cidades no dropdown correspondente
      cidades.forEach((cidade) => {
        const optionElement = document.createElement('option');
        optionElement.textContent = cidade;
        optionElement.value = cidade;
        selectCidade.appendChild(optionElement);
        if(city==cidade){
          optionElement.selected = true
        }
      });
      let cpf = document.getElementById('cpf')
      formataCPF(cpf);
    }
  
campos = document.querySelectorAll('.form-error')

campos.forEach(function(campo) {
  campo.addEventListener('input', function() {
    if (campo.value != ""){
      campo.style.backgroundColor = "#DCDCDC"
    }else{
      campo.style.backgroundColor = "rgb(252, 143, 179)"
    }
   
  });

});
</script>
{%endblock%}