body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e8586;
}
nav {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  background-color:  #2e8586;
  font-family:'open_sansregular';
  display: flex;
  flex-direction: row;

}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 5vw;

}

a:hover{
    color: rgb(192, 190, 190);
    transition: 0.3s;
}


.warning{
	width: 95%;
	background: rgb(255, 255, 178);
	text-align: center;
	padding: 10px;
	list-style: none;
	font-family: 'Roboto';
	border-radius: 15px;
}

.success{
  width: 95%;
	background: rgb(120, 176, 250);
	text-align: center;
	padding: 10px;
	list-style: none;
	font-family: 'Roboto';
	border-radius: 15px;
}

.error{
  width: 95%;
  background: #ff7497;
  text-align: center;
	padding: 10px;
	list-style: none;
	font-family: 'Roboto';
	border-radius: 15px;
}
/* Titulo para todas as paginas*/
.title{
  background-color:rgb(169, 226, 236) ;
	width: 95%;
	border: 5px solid white;
	border-radius: 15px;
}

.form-search input{
	font-size: 15px;
  margin-left: 25px;
  padding: 5px 5px 5px;
  background-color: #DCDCDC;
  border: none;
  border-radius: 2px;
  }

.btn-search{
  padding: 5px;
  border: none;
  background-color: #35da6c;
  cursor: pointer;
  margin-left: 10px;
}

.btn-search:hover{
  color: gray;
}

.form-search{
  position: relative;
}

.filter-btn{
  padding: 5px;
  width: 100px;
  background-color: #DCDCDC;
  border: none;
}
  