@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

.table{
	border: 1px solid black; 
    color: black;
	background-color: rgb(133, 202, 214);
	border-collapse: collapse;
	width: 100%;
    margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 15px;
	
}

th{
	background-color: white;
}
tr{
	border: 1px solid black;
}

td{
	border: 1px solid black;
	border-right: none;
	border-left: none;
    font-family: 'Roboto';
	padding: 5px;
	font-size: 14px;
	text-align: center;
}

.btn-alterar{
	padding: 5px;
	display: inline;

	background-color:  rgb(58, 69, 134);
	color: white;
	text-decoration: none;
}

.btn-deletar{
	padding: 5px;
	background-color:  rgb(238, 54, 79);
	color: white;
	text-decoration: none;
}

.btn-cadastrar{
	padding:15px;
	border-radius: 15px;
	background-color:  rgb(169, 226, 236);
	color: black;
	text-decoration: none;
	margin-left: 30px;
	
}

.btn-cadastrar:hover{
	color: gray;
}

.filter-search{
	margin-left: 25px;
	margin-bottom: 20px;
	border: 5px solid white;
	padding: 5px;
	width: 60%;
	background-color: rgb(133, 202, 214);
	
}

.filter-search select{
	margin-right: 20px;
}

.filter-select{
	display: inline;
}


.search-radio{
	margin-left: 0px!important;
	padding: 0;
	width: 25px!important;
}



.btn-search{
	margin-right: 0px;
}

.input-search{
	width: 50%!important;
}

.radio-container{
	display: inline;
	margin-right: 20px;
	position:relative;
    right: 80px;
}

.search-area{
	width:30%;
	margin-right: 20px;
}
.form-search{
	display: flex;
	flex-direction: row;
	
}

.filter-clean{
	background-color: white;
	padding: 5px;
	color: black;
	text-decoration: none;
}