{%extends '../home/home.html' %}
{%load static %}

{%block title %}
Listar funcionário
{%endblock%}

{%block content%}
<link rel="stylesheet" type="text/css" href="{%static 'css/listar_funcionario.css'%}">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">
<div class="card-body">
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {% if message %}
          <li class="{{message.tags}}">{{message}}</li>
          {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<center>
<h1 class="title">LISTA DE FUNCIONÁRIOS</h1>
{% if funcionarios|length > 0 %}
</center>
<div class="container-search">

  <form method="GET"  action="{% url 'pesquisar_funcionarios' %}" id="form-pesquisa">
    {% csrf_token %}
    <div class="form-search">
      <div class="search-area">
        <input type="text" class="input-search" name="pesquisa" placeholder="Digite aqui a pesquisa"> 
        <button type="submit" class="btn-search" value="Enviar">Pesquisar <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>  
    
 
      <div class="search-type">
        <div class="radio-container">
          <label for="texto">Texto</label>
          <input checked id="texto" value="Texto" type="radio" class="search-radio" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="dt_nasc_func">Data de Nascimento</label>
          <input id="dt_nasc_func" value="Data de Nascimento" type="radio" class="search-radio" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="cpf">CPF</label>
          <input type="radio" value="CPF" class="search-radio" id="cpf" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="rg">RG</label>
          <input type="radio" class="search-radio" value="RG" id="rg" name="tipo_pesquisa">
        </div>
      </div>     
      </div>
    </form>


<div class="filter-search">
  <form method="GET" action="{% url 'filtra_funcionarios' %}">
  {% csrf_token %}  
  <label>Filtros</label>
  <div class="filter-select">
  <select placeholder = "Estado" name="estado">
    <option selected disabled value="">Estado</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
  </select>
  <div class="filter-select">
  <select name="cidade" class="dropdown">
    <option selected disabled class="form_select_option">Selecione</option> 
  </select>
</div>
</div>
<div class="filter-select">
  <select name="sexo" class="filter-sex">
    <option selected disabled >Sexo</option> 
    <option value="Masculino">Masculino</option>
    <option value="Feminino">Feminino</option>
  </select>
</div>
<div class="filter-select">
  <select name="setor"class="filter-setor">
    <option selected disabled value="">Setor</option> 
    <option>Vendas</option>
    <option>Entrega</option>
    <option>Financeiro</option>
    <option>Cobrador</option>
  </select>
</div>
 <p></p>
  <button class="filter-btn" type="submit">Filtrar <i class="fa-solid fa-filter"></i></button> 
  <a class="filter-clean" href={% url 'listar_funcionarios' %}>Limpar Filtros<i class="fa-solid fa-broom"></i></a>
</form>
</div>
</div>
<table class="table">
<thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Estado Civil</th>
    <th>Sexo</th>
    <th>Setor</th>
    <th>Email</th>
    <th>Contato</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Número da Casa</th>
    <th>Rua</th>
    <th>Bairro</th>
    <th>Observação</th>
    <th>Atualizar <i class="far fa-pencil"></i></th>
    <th>Excluir <i class="far fa-trash"></i></th>
  </tr>
</thead>
<tbody>
  {% for f in funcionarios %}
  <tr class="linha">
    <td class="id" value={{f.id}}> {{f.id}} </td>
    <td>{{ f.nome }}</td>
    <td class="cpf" value={{f.cpf}}>{{ f.cpf }}</td>
    <td class="rg" value={{f.rg}}>{{ f.rg }}</td>
    <td>{{ f.estadocivil }}</td>
    <td>{{ f.sexo }}</td>
    <td>{{f.setor}} </td>
    <td>{{ f.email}}</td>
    <td>{{ f.contato}}</td>
    <td>{{ f.estado }}
    <td>{{ f.cidade}}</td>
    <td>{{ f.numero_casa}}</td>
    <td>{{ f.rua}}</td>
    <td>{{ f.bairro }} </td>
    <td>{{ f.observacao}} </td>

    <td>
    <a href="{% url 'alterar_funcionario' pk=f.id %}"
class="btn-alterar">
Atualizar

    </a>
  </td>
    <td>
    <a  href="{% url 'deleta_funcionario' pk=f.id %}"
class="btn-deletar">
Excluir

    </a>
  </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="text-center mt-5 mb-5 jumbotron">
<h3>Nenhum Funcionário cadastrado ainda.</h3>
</div>
{% endif %}
<div class="text-right">
<a class="btn-cadastrar" href="{% url 'cadastrar_funcionario' %}"> Cadastrar Funcionário <i class="fa-solid fa-person-circle-plus"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="{% static 'js/listarfunc.js' %}"></script>
{% endblock %}