{%extends '../home/home.html' %}
{%load static %}

{%block title %}
Listar funcionário
{%endblock%}

{%block content%}
<link rel="stylesheet" type="text/css" href="{%static 'css/listar_funcionario.css'%}">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">
<div class="card-body">
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <li class="sucess">Funcionário Alterado com Sucesso!</li>
          {% elif message.tags == 'warning' %}
            <li class="warning">Funcionário Deletado com Sucesso!</li>
          {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<center>
<h1 class="title">LISTA DE FUNCIONÁRIOS</h1>
{% if funcionarios|length > 0 %}
</center>
<table class="table">
<thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Estado Civil</th>
    <th>Sexo</th>
    <th>Email</th>
    <th>Contato</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Número da Casa</th>
    <th>Rua</th>
    <th>Bairro</th>
    <th>Observação</th>
    <th>Atualizar <i class="far fa-pencil"></i></th>
    <th>Excluir <i class="far fa-trash"></i></th>
  </tr>
</thead>
<tbody>
  {% for f in funcionarios %}
  <tr class="linha">
    <td class="id" value={{f.id}}> {{f.id}} </td>
    <td>{{ f.nome }}</td>
    <td>{{ f.cpf }}</td>
    <td>{{ f.rg}}</td>
    <td>{{ f.estadocivil }}</td>
    <td>{{ f.sexo }}</td>
    <td>{{ f.email}}</td>
    <td>{{ f.contato}}</td>
    <td>{{ f.estado }}
    <td>{{ f.cidade}}</td>
    <td>{{ f.numero_casa}}</td>
    <td>{{ f.rua}}</td>
    <td>{{ f.bairro }} </td>
    <td>{{ f.observacao}} </td>

    <td>
    <a href="{% url 'alterar_funcionario' pk=f.id %}"
class="btn-alterar">
Atualizar

    </a>
  </td>
    <td>
    <a  href="{% url 'deleta_funcionario' pk=f.id %}"
class="btn-deletar">
Excluir

    </a>
  </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="text-center mt-5 mb-5 jumbotron">
<h3>Nenhum Funcionário cadastrado ainda.</h3>
</div>
{% endif %}
<div class="text-right">
<a class="btn-cadastrar" href="{% url 'cadastrar_funcionario' %}"> Cadastrar Funcionário <i class="fa-solid fa-person-circle-plus"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  deletar = document.querySelectorAll('.btn-deletar')
  deletar.forEach(function(botao){

    botao.addEventListener('click',()=>{
      const confirmacao = confirm('Deseja deletar?');

      if (confirmacao) {
     window.location.href = deletar.href; 
      } 
    })
  })

  window.onload = function() {
  var linhas = Array.from(document.querySelectorAll('.linha'));
  var ids = Array.from(document.querySelectorAll('.id'));
  var body = document.getElementById('body');
  var cont = 0
    ids.forEach(function(id) {
      console.log(id.innerText);

      if(id.innerText %2  !=0){
        console.log('aaa')
 
        linhas[cont].style.backgroundColor = 'rgb(86, 183, 201)'
      }

      cont +=1
    });
  ;
}; 
   
  

</script>
{% endblock %}