{%extends '../home/home.html' %}
{%load static %}

{%block title %}
Listar funcionário
{%endblock%}

{%block content%}
<link rel="stylesheet" type="text/css" href="{%static 'css/listar_funcionario.css'%}">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">
<div class="card-body">
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {% if message %}
          <li class="{{message.tags}}">{{message}}</li>
          {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<center>
<h1 class="title">LISTA DE FUNCIONÁRIOS</h1>
{% if funcionarios|length > 0 %}
</center>
<div class="container-search">

  <form method="GET"  action="{% url 'pesquisar_funcionarios' %}" id="form-pesquisa">
    {% csrf_token %}
    <div class="form-search">
      <div class="search-area">
        <input type="text" class="input-search" name="pesquisa" placeholder="Digite aqui a pesquisa"> 
        <button type="submit" class="btn-search" value="Enviar">Pesquisar <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="search-type">
        <div class="radio-container">
          <label for="texto">Texto</label>
          <input id="texto" value="Texto" type="radio" class="search-radio" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="dt_nasc_func">Data de Nascimento</label>
          <input id="dt_nasc_func" value="Data de Nascimento" type="radio" class="search-radio" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="cpf">CPF</label>
          <input type="radio" value="CPF" class="search-radio" id="cpf" name="tipo_pesquisa">
        </div>
        <div class="radio-container">
          <label for="rg">RG</label>
          <input type="radio" class="search-radio" value="RG" id="rg" name="tipo_pesquisa">
        </div>
            
      </div>
    </div>
  </form>

<div class="filter-search">
  <form method="GET" action="{% url 'filtra_funcionarios' %}">
  {% csrf_token %}  
  <label>Filtros</label>
  <div class="filter-select">
  <select placeholder = "Estado" name="estado">
    <option selected disabled value="">Estado</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
  </select>
  <div class="filter-select">
  <select name="cidade" class="dropdown">
    <option selected disabled class="form_select_option">Selecione</option> 
  </select>
</div>
</div>
<div class="filter-select">
  <select name="sexo" class="filter-sex">
    <option selected disabled >Sexo</option> 
    <option value="Masculino">Masculino</option>
    <option value="Feminino">Feminino</option>
  </select>
</div>
<div class="filter-select">
  <select name="setor"class="filter-setor">
    <option selected disabled value="">Setor</option> 
    <option>Vendas</option>
    <option>Entrega</option>
    <option>Financeiro</option>
    <option>Cobrador</option>
  </select>
</div>
 <p></p>
  <button class="filter-btn" type="submit">Filtrar <i class="fa-solid fa-filter"></i></button> 
  <a class="filter-clean" href={% url 'listar_funcionarios' %}>Limpar Filtros<i class="fa-solid fa-broom"></i></a>
</form>
</div>
</div>
<table class="table">
<thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Estado Civil</th>
    <th>Sexo</th>
    <th>Setor</th>
    <th>Email</th>
    <th>Contato</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Número da Casa</th>
    <th>Rua</th>
    <th>Bairro</th>
    <th>Observação</th>
    <th>Atualizar <i class="far fa-pencil"></i></th>
    <th>Excluir <i class="far fa-trash"></i></th>
  </tr>
</thead>
<tbody>
  {% for f in funcionarios %}
  <tr class="linha">
    <td class="id" value={{f.id}}> {{f.id}} </td>
    <td>{{ f.nome }}</td>
    <td class="cpf" value={{f.cpf}}>{{ f.cpf }}</td>
    <td>{{ f.rg}}</td>
    <td>{{ f.estadocivil }}</td>
    <td>{{ f.sexo }}</td>
    <td>{{f.setor}} </td>
    <td>{{ f.email}}</td>
    <td>{{ f.contato}}</td>
    <td>{{ f.estado }}
    <td>{{ f.cidade}}</td>
    <td>{{ f.numero_casa}}</td>
    <td>{{ f.rua}}</td>
    <td>{{ f.bairro }} </td>
    <td>{{ f.observacao}} </td>

    <td>
    <a href="{% url 'alterar_funcionario' pk=f.id %}"
class="btn-alterar">
Atualizar

    </a>
  </td>
    <td>
    <a  href="{% url 'deleta_funcionario' pk=f.id %}"
class="btn-deletar">
Excluir

    </a>
  </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="text-center mt-5 mb-5 jumbotron">
<h3>Nenhum Funcionário cadastrado ainda.</h3>
</div>
{% endif %}
<div class="text-right">
<a class="btn-cadastrar" href="{% url 'cadastrar_funcionario' %}"> Cadastrar Funcionário <i class="fa-solid fa-person-circle-plus"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

<script>
  
  const cidadesPorEstado = {
      acre: ["Rio Branco", "Cruzeiro do Sul", "Sena Madureira"],
      alagoas: ["Maceió", "Arapiraca", "Palmeira dos Índios"],
      amapa: ["Macapá", "Santana", "Laranjal do Jari"],
      amazonas: ["Manaus", "Parintins", "Itacoatiara"],
      bahia: ["Salvador", "Feira de Santana", "Vitória da Conquista"],
      ceara: ["Fortaleza", "Juazeiro do Norte", "Caucaia"],
      "distrito-federal": ["Brasília"],
      "espirito-santo": ["Vitória", "Vila Velha", "Cariacica"],
      goias: ["Goiânia", "Aparecida de Goiânia", "Anápolis"],
      maranhao: ["São Luís", "Imperatriz", "Timon"],
      "mato-grosso": ["Cuiabá", "Várzea Grande", "Rondonópolis"],
      "mato-grosso-do-sul": ["Campo Grande", "Dourados", "Três Lagoas"],
      "minas-gerais": ["Belo Horizonte", "Uberlândia", "Contagem"],
      para: ["Belém", "Ananindeua", "Santarém"],
      paraiba: ["João Pessoa", "Campina Grande", "Santa Rita"],
      parana: ["Curitiba", "Londrina", "Maringá"],
      pernambuco: ["Recife", "Jaboatão dos Guararapes", "Olinda"],
      piaui: ["Teresina", "Parnaíba", "Picos"],
      "rio-de-janeiro": ["Rio de Janeiro", "São Gonçalo", "Duque de Caxias"],
      "rio-grande-do-norte": ["Natal", "Mossoró", "Parnamirim"],
      "rio-grande-do-sul": ["Porto Alegre", "Caxias do Sul", "Pelotas"],
      rondonia: ["Porto Velho", "Ji-Paraná", "Ariquemes"],
      roraima: ["Boa Vista", "Rorainópolis", "Caracaraí"],
      "santa-catarina": ["Florianópolis", "Joinville", "Blumenau"],
      "sao-paulo": ["São Paulo", "Guarulhos", "Campinas"],
      sergipe: ["Aracaju", "Nossa Senhora do Socorro", "Lagarto"],
      tocantins: ["Palmas", "Araguaína", "Gurupi"]
    };
    
    function formatarNascimento(input) {
      // Remove todos os caracteres que não sejam dígitos
      var valor = input.value.replace(/\D/g, '');
    
      // Verifica se o valor é uma data válida
      if (valor.length > 2) {
        // Insere a barra depois do dia
        valor = valor.replace(/^(\d{2})(\d)/, '$1/$2');
      }
    
      if (valor.length > 5) {
        // Insere a barra depois do mês
        valor = valor.replace(/^(\d{2})\/(\d{2})(\d)/, '$1/$2/$3');
      }
    
      // Atualiza o valor do campo de entrada
      if (input.value != null){
         input.value = valor;
      }
     
    }
    function formataCPF(event) {
      pesquisa.placeholder="XXX.XXX.XXX-XX"
      pesquisa.maxLength  = 14
      // Remove todos os caracteres que não sejam dígitos
      var valor = pesquisa.value.replace(/\D/g, '');
    
      // Adiciona os pontos de separação e o traço do CPF
      valor = valor.replace(/^(\d{3})(\d)/, '$1.$2');
      valor = valor.replace(/^(\d{3})\.(\d{3})(\d)/, '$1.$2.$3');
      valor = valor.replace(/^(\d{3})\.(\d{3})\.(\d{3})(\d{1,2})/, '$1.$2.$3-$4');
    
      // Atualiza o valor do campo de entrada
      pesquisa.value = valor;

      isRGFormated  = false
      isCPfFormated = true
    }

    function formataCPFTabela(celula) {
      console.log("Formatando celula")
      celula.textContent = celula.textContent.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, '$1.$2.$3-$4');
    }

    function formatarRG(event){
      
      pesquisa.maxLength   = 12
      var rg = pesquisa.value;

    rg = rg.replace(/\D/g, "");

    if (rg.length > 2) {
      rg = rg.substring(0, 2) + "." + rg.substring(2);
    }
    if (rg.length > 6) {
      rg = rg.substring(0, 6) + "." + rg.substring(6);
    }
    if (rg.length > 10) {
      rg = rg.substring(0, 10) + "-" + rg.substring(10);
    }

    pesquisa.value = rg;
    isRGFormated   = true
    isCPfFormated  = false 
  }

    function removerMascaraCPF(cpf) {
      return String(cpf).replace(/\D/g, '');
    }

    function removerPontuacaoRG(rg) {
      return rg.replace(/[^\d]/g, "");
    }

    
  const selectEstado         = document.querySelector('select[name="estado"]');
  const selectCidade         = document.querySelector('select[name="cidade"]');
  const tipo_pesquisa        = document.querySelectorAll('input[name="tipo_pesquisa"]')
  const selecionado          = document.querySelector('input[name="tipo_pesquisa"]:checked')
  const pesquisa             = document.querySelector('input[name="pesquisa"]')
  const form_pesquisa        = document.getElementById('form-pesquisa')
  let isCPfFormated          = false
  let isRGFormated           = false
  let isTextSelected         = false
  const cpfs                 = document.querySelectorAll('.cpf')

  tipo_pesquisa.forEach((option)=>{
    option.addEventListener('change',()=>{
      if(option.value=="CPF"){
        pesquisa.placeholder = "XXX.XXX.XXX-XX"
        pesquisa.addEventListener('input',formataCPF)
    }else if(option.value=="RG"){
      pesquisa.placeholder = "XX.XXX.XXX-X"
      pesquisa.addEventListener('input',formatarRG)
    }else if(option.value=="Data de Nascimento"){
      pesquisa.placeholder="DD/MM/AAAA"
      pesquisa.addEventListener('input',()=>{
        pesquisa.maxLength = 10
        formatarNascimento(pesquisa)
      })
    }else if(option.value=="Texto"){
      pesquisa.placeholder="Digite sua pesquisa"
      
      console.log("Está sendo removido")
      if(isCPfFormated){
        pesquisa.removeEventListener('input',formataCPF)
      }
      if(isRGFormated){
        pesquisa.removeEventListener('input',formatarRG)
      }
      pesquisa.removeAttribute("maxlength")
    }

  })
    
  })

  form_pesquisa.addEventListener('submit',()=>{
    event.preventDefault()
    for (const tp of tipo_pesquisa) {
      if (tp.value=="CPF") {
       pesquisa.value = removerMascaraCPF(pesquisa.value)
      }else if(tp.value=="RG"){
        pesquisa.value = removerPontuacaoRG(pesquisa.value)
      }
    }
    form_pesquisa.submit()
  })
  selectEstado.addEventListener('change', function() {
    const estadoSelecionado = this.value;
    
    // Limpa as opções do dropdown de cidades
    selectCidade.innerHTML = '<option selected disabled class="form_select_option" value="">Selecione</option>';
    
    // Verifica se um estado foi selecionado
    if (estadoSelecionado) {
      const cidades = cidadesPorEstado[estadoSelecionado];
      
      // Adiciona as opções de cidades no dropdown correspondente
      cidades.forEach((cidade) => {
        const optionElement = document.createElement('option');
        optionElement.textContent = cidade;
        optionElement.value = cidade;
        selectCidade.appendChild(optionElement);
      });
    }
  });
window.onload = (event)=>{
  var linhas = document.querySelectorAll('.linha');
  var cont = 1
    linhas.forEach(function(linha) {
      console.log(linha)
      if(cont %2  !=0){
        
        linha.style.backgroundColor = 'rgb(86, 183, 201)'
      }

      cont +=1
    });
  ;
   cpfs.forEach((cpf)=>{
    formataCPFTabela(cpf)
   })
}

deletar = document.querySelectorAll('.btn-deletar')
  deletar.forEach(function(botao){

    botao.addEventListener('click',()=>{
      const confirmacao = confirm('Deseja deletar?');

      if (confirmacao) {
     window.location.href = deletar.href; 
      } 
    })
  })


   
  

</script>
{% endblock %}