body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e8586;
}
nav {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  background-color:  #2e8586;
  font-family:'open_sansregular';
  display: flex;
  flex-direction: row;

}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 5vw;

}

a:hover{
    color: rgb(192, 190, 190);
    transition: 0.3s;
}

