{% extends 'modelo_site/modelo_site.html' %}


{% block title %}
<title>Home</title>
{% endblock title %}




{% block paragrafo %}
<a href="{% url 'cadastrar_funcionario' %}" style="text-align: left;">Cadastrar Funcionaro</a><br>
<a href="{% url 'cadastrar_usuario' %}" style="text-align: left;">Cadastrar usuário</a><br>
<a href="{% url 'Vendas' %}" style="text-align: left;">Vendas</a><br>
<a href="{% url 'cadastrar_produto' %}" style="text-align: left;">Cadastrar produtos</a><br>
{% endblock %}