{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  
  <title>
    {% block title %}
    Cred-Cariús
    {% endblock %}</title>
  

</head>

<body id="body">

<nav>
	<a href="{% url 'home' %}">Início <i class="fa-solid fa-house"></i></a>
  <a href="{% url 'cadastrar_produto' %}">Produtos <i class="fa-sharp fa-solid fa-box"></i></a>
  <a href="{% url 'cadastrar_vendas' %}">Vendas <i class="fa-solid fa-money-bill"></i></a>
  <a href="{% url 'listar_funcionarios' %}">Funcionários <i class="fa-solid fa-person"></i></a>
  <a href="{% url 'relatorios' %}">Relatórios <i class="fa-solid fa-note-sticky"></i></a>
	<div class="animation start-home"></div>
</nav>
{%block content%}

{%endblock%}
</body>
</html>