{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modelo.css' %}">

<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  {% block title %}
  <title>Modelo</title>
  {% endblock %}

</head>

<body>
  <h1>CRED CARIÚS</h1>

  {% block animation %}
<nav>
	<a href="{% url 'home' %}">Início</a>
  <a href="{% url 'cadastrar_produto' %}">Produtos</a>
  <a href="{% url 'cadastrar_vendas' %}">Vendas</a>
  <a href="{% url 'cadastrar_funcionario' %}">Funcionários</a>
  <a href="{% url 'relatorios' %}">Relatórios</a>
	<div class="animation start-home"></div>
</nav>
{% endblock animation %}

{% block paragrafo %}
<p>
Modelo
</p>
{% endblock %}
<footer class="f">
  Rodapé da página
</footer>

</body>
</html>
