{% extends '../home/home.html'%}


{%block title %}
 Alterar Funcionário
{%endblock%}
{% load static %}

{%block content%}

{% if form.errors %}
 <div class="alert alert-danger">
 {% for field in form %}
     {% for error in field.errors %}
        
             <strong>{{ error|escape }}</strong>
             <p></p>
        
     {% endfor %}
 {% endfor %}
</div>
<div class="alert alert-danger"></div>
 {% for error in form.non_field_errors %}
     
         <strong>{{ error|escape }}</strong>
    
 {% endfor %}
</div>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cadfuncionario.css' %}">


  <center><h1>ALTERAÇÃO DE FUNCIONARIOS</h1></center>

  <form class="form" id="form_alterar" action="{% url 'upd_funcionario' %}" method="POST">
    {% csrf_token %} 
    {%if form.errors%}
    <input  name="id" type="hidden" value="{{id}}">
    {%else%}
    <input style="display: none;" name="id" value="{{funcionario.id}}">
    {%endif%}
    <div class="container-form">
      <div class="coluna">
        <div class="form_grupo">
            <label for="nome" class="form_label">Nome</label>
            {% if form.errors%}
              {{form.nome}}
            {%else%}
                <input type="text" name="nome" class="form_input" id="nome" placeholder="Digite seu nome" autofocus="true" required value="{{ funcionario.nome }}">
            {%endif%}
        </div>
      
        <div class="form_grupo">
          <label for="CPF">CPF</label>
          {% if form.errors %}
              {{form.cpf}}
          {%else%}
          <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" maxLength="14" required value = "{{funcionario.cpf}}" />
          {%endif%}
        </div>

        <div class="form_grupo">
          <label for="RG">RG</label>
          {% if form.errors %}
            {{form.rg}}
          {%else%}
          <input type="text" id="rg" name="rg" placeholder="Digite seu RG" required value = "{{funcionario.rg}}"/>
          {%endif%}
        </div>
   
        <div class="form_grupo">
          <label for="dtnasc">Data Nascimento</label>
          {% if form.errors %}
            {{form.dtnasc_func}}
          {% else %}
          <input type="text" name="dtnasc_func" id="dtnasc_func" placeholder="Digite sua Data de Nascimento" required value="{{funcionario.dtnasc_func}}" />
          {%endif%}
        </div>

        <div class="form_grupo">
          <label for="Contato">Contato</label>
          {% if form.errors %}
              {{form.contato}}
          {% else %}
          <input type="text" name="contato" placeholder="Digite o número de celular" required value="{{funcionario.contato}}" />
          {%endif%}
        </div>

        <div class="form_grupo">
          <label for="e-mail" class="form_label">Email</label>
          {% if form.errors %}
             {{form.email}}
          {% else %}
          <input type="email" name="email" class="form_input" id="email" placeholder="seuemail@email.com" value="{{funcionario.email}}" required >
          {% endif %}
        </div>

        <div class="form_grupo">
            <label for="estadocivil" class="text">Estado civil</label>
            {% if form.errors %}
              {{form.estadocivil}}
            {% else %}
            <select name="estadocivil" class="dropdown" required value="{{funcionario.estadocivil}}">
              {% if funcionario.estadocivil == "Solteiro" %}
                <option selected disabled class="form_select_option" value="">Selecione</option>
                <option value="Solteiro" class="form_select_option" selected>Solteiro(a)</option>
                <option value="Casado" class="form_select_option">Casado(a) </option>
                <option value="Divorciado" class="form_select_option">Divorciado(a)</option>                    
                <option value="Viúvo" class="form_select_option">Viúvo(a)</option>
              {% elif funcionario.estadocivil == "Casado" %}
              <option selected disabled class="form_select_option" value="">Selecione</option>
              <option value="Solteiro" class="form_select_option" >Solteiro(a)</option>
              <option value="Casado" class="form_select_option" selected>Casado(a) </option>
              <option value="Divorciado" class="form_select_option">Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option">Viúvo(a)</option>    
              {% elif funcionario.estadocivil == "Divorciado" %}
              <option selected disabled class="form_select_option" value="">Selecione</option>
              <option value="Solteiro" class="form_select_option" >Solteiro(a)</option>
              <option value="Casado" class="form_select_option">Casado(a) </option>
              <option value="Divorciado" class="form_select_option" selected>Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option" >Viúvo(a)</option>    
              {% elif funcionario.estadocivil == "Viúvo"  %}
              <option selected disabled class="form_select_option" value="">Selecione</option>
              <option value="Solteiro" class="form_select_option">Solteiro(a)</option>
              <option value="Casado" class="form_select_option">Casado(a) </option>
              <option value="Divorciado" class="form_select_option">Divorciado(a)</option>                    
              <option value="Viúvo" class="form_select_option" selected>Viúvo(a)</option>                        
              {% endif %}
            </select>
            {% endif %}
        </div>
      
      <div class="form_grupo">
         
          <span class="legenda">Sexo:</span>
          {% comment "Se tiver algum erro de validação ou erro de valor duplicado" %}{% endcomment %}
          {% if form.errors or mensagem%}
        
    {% comment "Se o valor selecionado pelo usuario" %}{% endcomment %}
            {% if form.sexo.value == 'Masculino' %}
            <table>
              {% for choice in form.sexo.field.choices %}
                <tr>
                  {% comment "checa se o valor se o valor é masculino para criar o input radio" %}{% endcomment %}
                  <td>{{ choice.0 }}</td>
                  <td>
                  {% if choice.0 == 'Masculino' %}
                    <input checked type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
                  {% else %}
                    <input type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
                  {% endif %}
                  </td>
              </tr>
            {% endfor %}
            </table>
            {% elif form.sexo.value == 'Feminino'%}
            {% for choice in form.sexo.field.choices %}
            <table>
            <tr>
              <td>{{ choice.0 }}</td>
              <td>
              {% if choice.0 == 'Masculino' %}
                <input  type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
              {% else %}
                <input checked type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
              {% endif %}
              </td>
            </tr>
            </table>
          {% endfor %}
            {% endif %}
         </table>
          {%else%}
          <table>
          <tr>
            <td>  
              <label for="masculino" class="radio_label form_label"> <span class="radio_new_btn"></span> Masculino</label>
             
            </td>
            <td>
              <input type="radio" class="form_input " id="masculino" name="sexo" value="Masculino" required="required">
            </td>
          </tr>
          <tr>
            <td>
              <label for="feminino" class="radio_label form_label"> <span class="radio_new_btn"></span> Feminino</label>
            </td>
            <td>
              <input type="radio" class="form_input " id="feminino" name="sexo" value="Feminino" required="required">
            </td>
          </tr>

              
              
         
        </table>
          {%endif%}
      </div>
    </div>
    <div class="coluna">
      <div class="form_grupo">
        <label for="estado" class="text">Estado</label>
        <select name="estado" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
          <option value="acre">Acre</option>
          <option value="alagoas">Alagoas</option>
          <option value="amapa">Amapá</option>
          <option value="amazonas">Amazonas</option>
          <option value="bahia">Bahia</option>
          <option value="ceara">Ceará</option>
          <option value="distrito-federal">Distrito Federal</option>
          <option value="espirito-santo">Espírito Santo</option>
          <option value="goias">Goiás</option>
          <option value="maranhao">Maranhão</option>
          <option value="mato-grosso">Mato Grosso</option>
          <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
          <option value="minas-gerais">Minas Gerais</option>
          <option value="para">Pará</option>
          <option value="paraiba">Paraíba</option>
          <option value="parana">Paraná</option>
          <option value="pernambuco">Pernambuco</option>
          <option value="piaui">Piauí</option>
          <option value="rio-de-janeiro">Rio de Janeiro</option>
          <option value="rio-grande-do-norte">Rio Grande do Norte</option>
          <option value="rio-grande-do-sul">Rio Grande do Sul</option>
          <option value="rondonia">Rondônia</option>
          <option value="roraima">Roraima</option>
          <option value="santa-catarina">Santa Catarina</option>
          <option value="sao-paulo">São Paulo</option>
          <option value="sergipe">Sergipe</option>
          <option value="tocantins">Tocantins</option>
        </select>
      </div>
      
      <div class="form_grupo">
        <label for="cidade" class="text">Cidade</label>
        <select name="cidade" class="dropdown" required>
          <option selected disabled class="form_select_option" value="">Selecione</option> 
        </select>
      </div>
      
      
      
      
      <div class="form_grupo">
        <label for="Rua">Rua</label>
        {% if form.errors %}
             {{form.rua}}
        {% else %}
        <input type="text" name="rua" placeholder="Digite o nome da sua rua" value="{{funcionario.rua}}" />
        {% endif %}
      </div>

      <div class="form_grupo">
        <label for="Bairro">Bairro</label>
        {% if form.errors %}
             {{form.bairro}}
        {% else %}
        <input type="text" name="bairro" placeholder="Digite o nome do seu bairro" value="{{funcionario.bairro}}"/>
        {% endif %}
      </div>

      <div class="form_grupo">
        <label for="Numero">Numero</label>
        {% if form.errors %}
             {{form.numero_casa}}
        {% else %}
        <input type="number" name="numero_casa" placeholder="Digite o numero da sua casa" value="{{funcionario.numero_casa}}"/>        
        {% endif %}
      </div>


      <div class="form_grupo">
         
          <span class="legenda">Setor</span>
          {% if form.errors %}
          {{form.setor}}
          {% else %}
          {%if funcionario.setor == 'Vendas'%}
            <div class="check-btn">
                <input type="radio" class="form_new_input radio-setor" id="html5" name="setor" checked value="Vendas">
                <label for="html5" class="form_label"> <span class="check_new_btn"></span>Vendas</label>
            </div>
          {% else %}
            <div class="check-btn">
              <input type="radio" class="form_new_input radio-setor" id="html5" name="setor" value="Vendas">
              <label for="html5" class="form_label"> <span class="check_new_btn"></span>Vendas</label>
            </div>
          {%endif%}
          
          {% if funcionario.setor == 'Entrega'%}
            <div class="check-btn">
                <input type="radio" class="form_new_input radio-setor" checked id="css3" name="setor" value="Entrega">
                <label for="css3" class="form_label"><span class="check_new_btn"></span>Entrega</label>
            </div>
          {% else %}
            <div class="check-btn">
              <input type="radio" class="form_new_input radio-setor" id="css3" name="setor" value="Entrega">
              <label for="css3" class="form_label"><span class="check_new_btn"></span>Entrega</label>
            </div>
          {%endif%}
         

          {% if funcionario.setor == 'Financeiro' %}
            <div class="check-btn">
                <input type="radio" class="form_new_input radio-setor" id="jquery" checked name="setor" value="Financeiro">
                <label for="jquery" class="form_label"><span class="check_new_btn"></span>Financeiro</label>
            </div>
          {% else %}
          <div class="check-btn">
            <input type="radio" class="form_new_input radio-setor" id="jquery" name="setor" value="Financeiro">
            <label for="jquery" class="form_label"><span class="check_new_btn"></span>Financeiro</label>
        </div>
        {%endif%}
        
        {%if funcionario.setor == 'Cobrador'%}
            <div class="check-btn">
                <input type="radio" class="form_new_input radio-setor" id="wordpress" checked name="setor" value="Cobrador">
                <label for="wordpress" class="form_label"><span class="check_new_btn"></span>Cobrador</label>
            </div>
        {%else%}
          <div class="check-btn">
            <input type="radio" class="form_new_input radio-setor" id="wordpress" name="setor" value="Cobrador">
            <label for="wordpress" class="form_label"><span class="check_new_btn"></span>Cobrador</label>
          </div>
        {% endif %}
        {%endif%} 
      </div>
          <div class="form_message">
              
              <label for="message" class="form_message_label"> Digite aqui sua observação:</label>
              <textarea name="observacao" id="message" cols="30" rows="3" class="form_input message_input" required>{{funcionario.observacao}}</textarea>

          </div>

          <div class="submit">

            <input type="hidden" name="acao" value="enviar">
            <button type="submit" name="Submit" class="submit_btn"  id="alterar" >Alterar</button>
            {%if form.errors%}
              <input   type = "hidden" id="cidade" value="{{cidade}}">
              <input  type  = "hidden" id="estado" value="{{estado}}">
            {%else%}
              <input type="hidden" id="cidade" value="{{funcionario.cidade}}">
              <input type="hidden" id="estado" value="{{funcionario.estado}}">
            {%endif%}
          </div>
        

</div>
</div>
<footer class="f">
    Rodapé da página
</footer>


<script src=" {% static 'js/alterarfunc.js' %}">
  
</script>
{% endblock %}